
[submodule "Gaugi"]
	path = Gaugi
	url = https://gitlab.cern.ch/jodafons/gaugi.git
[submodule "External/pytex"]
	path = External/pytex
	url = https://gitlab.cern.ch/jodafons/pytex.git
[submodule "External/monet"]
	path = External/monet
  url = https://gitlab.cern.ch/jodafons/monet.git
[submodule "External/docker"]
	path = External/docker
	url = ssh://git@gitlab.cern.ch:7999/jodafons/docker.git
