[submodule "Tools/RingerCore"]
	path = Tools/RingerCore
	url = git@github.com:wsfreund/RingerCore.git
[submodule "Tools/TuningTools"]
	path = Tools/TuningTools
  url = git@github.com:wsfreund/TuningTools.git
[submodule "data/tunings"]
	path = data/tunings
  url = https://gitlab.cern.ch/ringer/tunings.git




[submodule "Gaugi"]
	path = Gaugi
	url = ssh://git@gitlab.cern.ch:7999/jodafons/gaugi.git
