cmt/boost_test.h.gch
cmt/new_env_file.sh
*.pyc
.ipynb_checkpoints/*
doc/.ipynb_checkpoints/*
*.mat
*.pic
*.gz
*.npz
*.root
*.log
*.pdf
*.eps
*.pdf
*.tex
*.C

*.bak
Gaugi

cmt/boost_test.cxx.o
MoreFilesForYou-*
.asetup.save
build
.python-version
.pythonpaths


