language: python

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

before_install:
  - source setup_module.sh
  - source setup.sh

install:
  - pip3 install --upgrade pip
  - pip3 install -r requirements.txt

script:
  - python3 ci/main.py
